.wrapSelectOption {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    .title {
        margin-right: 10px;
        color: #4D4D4D;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
    }
    .text {
        margin-left: 10px;
        color: #4D4D4D;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
    }
}
