.wrapInvoice {
    max-width: 1300px;
    .invoiceHeader {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .contentLeft {
            display: flex;
            flex-direction: row;
        }
        .contentRight {}
    }
    :global {
        .ant-table-container {
            border: 1px solid #f0f0f0;
        }
    }
}
