.wrapAvatar {
    border: 2px solid #1677ff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .avatar {
        width: 100%;
        height: 100%;
    }
}
