.wrapPasswordInputLogin {
    position: relative;
    margin-bottom: 20px;
    .iconEye {
        position: absolute;
        width: 20px;
        height: 22px;
        right: 8px;
        top: 16px;
    }
}

.input {
    height: 50px;
    min-width: 300px;
    padding-left: 15px;
    padding-right: 30px;

    border: 1px solid #b3b3b3;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}

.inputError {
    border: 1px solid red;
}

.textError {
    font-style: normal;
    line-height: 22px;
    font-weight: 400;
    font-size: 13px;
    color: red;
}

.wrapTextInputLogin {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
